.blogWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5rem 3rem;
}

.blogContent {
	width: 60%;
	padding: 0rem 5rem;
	background: var(--color-shade);
	border-radius: var(--border-radius);
}

.blogContent p {
	margin-bottom: 20px;
}

.returnLink {
	display: flex;
	align-self: start;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 2rem;
	margin-bottom: 2rem;
}

.linkArrow {
	margin-right: 10px;
}

@media screen and (max-width: 768px) {
	.blogContent {
		width: 100%;
	}

	.returnLink {
		margin-left: 0;
		align-self: center;
	}
}
