.testimonial_wrapper {
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 16px;

}

.button_arrow-left {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.button_arrow-right {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.testimonial_card {
  margin: 1rem 2.5rem;
  padding: 1rem 0;
  border-radius: 10px;
	display: flex;
  background: #ffffff;
	align-items: center;
	flex-direction: column;
  box-shadow: 0 0 0 0.125em rgba(156, 157, 161, 0.25);
}

.testimonial_card-stars {
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	color: #dbbb49;
}

.testimonial_card-author {
	margin-top: 1rem;
}
