.grid-container {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(3, 1fr);
  background: var(--color-accent);
  padding: 0px;
}

.grid-container > div {
  background-color: var(--color-primary);
  color: var(--secondary-text);
  text-align: center;
  padding: 10px 0;
}

.h3 {
  color: #fff;
}

.grid__header,
.grid__copyright {
  grid-column-start: 1;
  grid-column-end: 4;
}

.grid__heading {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 3px;
}

.grid__content {
  font-size: 1.8rem;
  text-align: center;
  padding-top: 1rem;
  font-weight: light;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.button {
  background: transparent;
  color: var(--color-secondary);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: solid 2px var(--color-secondary);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px 15px;
  transition: background 0.15s, border 0.15s;
}

.button:hover {
  color: var(--secondary-text);
  border: solid 2px var(--secondary-text);
  cursor: pointer;
}

a {
  color: var(--color-secondary);
}

@media screen and (max-width: 768px) {
  .icon {
    width: 2rem;
    height: 2rem;
  }

  .button {
    width: 50px;
    height: 50px;
    margin: 0px 10px 0px 10px;
  }

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid__header,
  .grid__copyright {
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 0;
    padding: 0;
  }

  .grid__heading {
    font-size: 1.8rem;
  }

  .grid__copyright {
    font-size: 1.6rem;
  }

  .grid__content {
    padding-top: 0.5rem;
    font-size: 1.6rem;
  }
}
