/* flex */

.flex-container {
  padding: 0;
  margin: 0 00rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.flex-item {
  margin: 2rem 3rem;
  width: auto;
  height: 20rem;
  box-shadow: 5px 5px 5px grey;
  text-align: center;
}

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1401 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 30rem;
  height: 20rem;
  color: #000000;
  text-align: right;
  font-size: 16px;
}
.snip1401 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1401 img {
  height: 20rem;

  backface-visibility: hidden;
  width: 100%;
  filter: grayscale(20%);
}

.snip1401 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  padding: 100px 120px 0px 0px;
  background-color: #535353;
  width: 40%;
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
}

.snip1401 figcaption:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 95%;

  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 150px 0;
  border-color: transparent #535353 transparent transparent;
}

.snip1401:after {
  position: absolute;
  bottom: 56%;
  right: 38%;

  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 0 120px;
  border-color: rgba(73, 199, 238, 0.5) transparent transparent
    transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1401 h3 {
  transform: translate(-32px, -17px);
  margin: 0;
  margin: 0;
}
.snip1401 h3 {
  margin: 0 0 5px;
  line-height: 1.1em;
  font-weight: 900;
  font-size: 1.4em;
  color: var(--color-tertiary);
}

.snip1401 i {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 15px;
  font-size: 54px;
  color: var(--color-secondary);
  opacity: 0;
}
.snip1401 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1401:hover img,
.snip1401.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
.snip1401:hover:after,
.snip1401.hover:after,
.snip1401:hover figcaption,
.snip1401.hover figcaption,
.snip1401:hover i,
.snip1401.hover i {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .flex-item {
    height: 25rem;
  }

  .snip1401 {
    width: 35rem;
    height: 25rem;
  }

  .snip1401 img {
    height: 25rem;
  }

  .snip1401 figcaption:before {
    right: 100%;
  }

  .snip1401:after {
    right: 40%;
  }

  .snip1401 h3 {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
}
