:root {
	--color-primary: #303030;
	--color-secondary: #05a0d8;
	--color-tertiary: #fff;
	--color-accent: #05a0d8;
	--color-body: #000;
	--secondary-text: #eee;
	--color-shade: #eeeeee;
	--border-radius: var(--border-radius);
}

/* Scrollbar */

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
	background: var(--color-accent);
	border-radius: var(--border-radius);
}

#root {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto';

	justify-content: space-between;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--color-body);
	height: 100vh;
	width: 100%;
}

/* Positioning */
.gap_10px {
	gap: 10px;
}

.content_align-center {
	display: flex;
	align-items: center;
	flex-direction: column;
}

/* Typography */

h1,
h2,
h3 {
	color: var(--color-primary);
	margin: 2rem 0;
	text-align: center;
	text-transform: uppercase;
}

h1 {
	font-size: 3.3rem;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

h2 {
	font-size: 3rem;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

h3 {
	font-size: 2rem;
	font-weight: 900;
}

h4 {
	font-size: 1.7rem;
	font-weight: 700;
}

p,
li {
	margin: 0;
	font-size: 1.8rem;
}

/* Blocks */

.block {
	padding: 4rem 0.5rem;
	width: 100%;
	box-sizing: border-box;
}

.block--shade {
	background: #dad8d8;
}

.block--skewed-right {
	padding-bottom: calc(var(--padding-vertical) + 4rem);
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
}

.block--skewed-left {
	padding-bottom: calc(var(--padding-vertical) + 4rem);
	clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}

@media screen and (min-width: 768px) {
	.block {
		padding: 60px 0rem;
	}
}

/* Flexboxes */
.flexcontainer {
	display: flex;
	flex-basis: 1;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	padding: 0rem 5rem;
}

.flex1x2 {
	flex: 0 50%;
}

.flex1x3 {
	flex: 0 32%;
	margin-bottom: 2%; /* (100-32*3)/2 */
	box-sizing: border-box;
}

.flex1x4 {
	flex: 0 25%;
	min-width: 25%;
}

.flex1x5 {
	flex: 0 20%;
}

@media screen and (max-width: 1024px) {
	.flex1x4 {
		flex: 0 100%;
		margin: 0 1rem;
		display: flex;
		flex-direction: column;
	}

	.flexcontainer {
		padding: 0rem 1rem;
	}
}

/* @media screen and (max-width: 768px) {
  .flex1x3,
  .flex1x5 {
    flex: 0 100%;
  }
} */

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrappercol {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.wrapper > img {
	width: 30rem;
	border-radius: 100%;
	border: solid #000 1rem;
	padding: 2rem;
	margin: 4rem 0rem;
}

@media screen and (max-width: 768px) {
	.wrapper > img {
		width: 20rem;
		margin: 2rem 0rem;
		border: solid #000 0.6rem;
	}
}
