.nav {
  background: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  align-items: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.logo {
  color: white;
  font-size: 2rem;
}

.nav ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding-right: 5rem;
}

.collapsible {
  display: none;
}

.nav li {
  margin-right: 2rem;
  font-size: 1rem;
  padding: 0.5rem 0rem;
  border-bottom: 1px solid #222;
}

.nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  font-size: 1.8rem;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #63b6e6;
}

.navbutton {
  align-items: center;
  background: #63b6e6;
  border-radius: 100%;
  border: 2px solid #fff;
  height: 3rem;
  justify-content: center;
  width: 3rem;
  color: #fff;
  margin-right: 7.5%;
}

.toggler {
  font-size: 1.5rem;
}

.navbutton:hover {
  background-color: #fff;
  cursor: pointer;
  color: #63b6e6;
  border: 2px solid #63b6e6;
}

@media screen and (min-width: 768px) {
  .navbutton {
    display: none;
  }

  .logo {
    font-size: 2.5rem;
  }

  .nav ul {
    width: auto;
    display: flex;
    max-height: 100%;
    opacity: 1;
  }

  .nav a {
    font-size: 1.5rem;
  }
  .nav li {
    border: 0;
    padding-right: 0.2rem;
  }
}
